@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply rounded-lg text-base/5 transition-colors duration-300 ease-in-out py-2.5 px-6 font-medium
    }

    .input {
        @apply text-black/70 bg-white/100 border-[1.2px] border-[rgba(241,_241,_241,_1)] rounded-lg w-full block px-6 py-4 focus:outline-none focus:ring-1 focus:border-brand-blue/20 focus:ring-brand-blue/20 focus:ring-offset-2 hover:ring-1 hover:border-brand-blue/20 hover:ring-brand-blue/20 focus-within:ring-1 focus-within:border-brand-blue/20 focus-within:ring-brand-blue/20 focus-within:ring-offset-2 ring-offset-2 placeholder:text-[rgba(151,_151,_151,_1)] font-medium
    }

    .input-select {
        @apply form-select input cursor-pointer
    }

    .input-checkbox {
        @apply form-checkbox cursor-pointer rounded-md border-[1.2px] border-black/20 p-2.5 focus:outline-none focus:ring-1 focus:border-brand-blue/20 focus:ring-brand-blue/20 focus:ring-offset-2 hover:ring-1 hover:border-brand-blue/20 hover:ring-brand-blue/20 focus-within:ring-1 focus-within:border-brand-blue/20 focus-within:ring-brand-blue/20 focus-within:ring-offset-2 ring-offset-2
    }

    .submit-btn {
        @apply input bg-brand-blue text-white hover:bg-brand-blue/80 transition-colors duration-300 ease-in-out
    }

    .dashboard-link {
        @apply text-black/100 py-4 px-6 flex items-center gap-4 hover:bg-dashboard-navlink border-l-[6px] border-transparent hover:border-brand-blue lg:py-2.5 lg:px-8
    }

    .settings-card {
        @apply bg-white/100 shadow-[0px_5px_10px_0px_rgba(0,_0,_0,_0.05)] rounded-xl p-8
    }

    .custom-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .custom-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
